@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --font: "Open Sans", sans-serif;

    --dark1: rgb(24, 24, 24);
    --dark2: rgb(71, 71, 71); 
    --dark3: rgb(117, 117, 117);

    --color1: rgb(253, 110, 10);
    --color2: rgb(255, 255, 255);

    --colorBG: rgb(255, 248, 243);

    --fw1: 400;
    --fw2: 600;
    --fw3: 700;
    --fw4: 800;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
nav{
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent;
}

nav .container{
    width: 100%;
    height: 100%;
    padding: 0 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container p{
    font-size: 1.5rem;
    font-weight: var(--fw4);
    color: var(--dark1);
    letter-spacing: 2px;
}

.container span{
    font-size: 1.5rem;
    font-weight: var(--fw4);
    color: var(--color1);
}

.nav-list{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.nav-list ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: var(--fw1);
    position: relative;
}

.nav-list ul li::after{
    content: "";
    width: 100%;
    height: 2px;
    background: var(--color1);
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    scale: 0 1;
    transition: all 300ms ease;
}

.nav-list ul li:hover::after{
    scale: 1 1;
}

.nav-list ul li a{
    text-decoration: none;
    color: var(--dark2);
    font-weight: var(--fw3);
}

button{
    background-color: var(--color1);
    border: none;
    outline: none;
    padding: 12px 36px;
    border-radius: 5px;
    color: var(--color2);
    font-weight: var(--fw2);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: all 300ms ease ;
    border: 2px solid var(--color1);
}

button:hover{
    background-color: var(--colorBG);
    color: var(--color1);
}

/* hero section starts here */

.hero-container{
    min-width: 1600px;
    min-height: 837px;
    margin: 0 auto 100px;
    position: relative;
    background-image: url("../images/developer.png"), url(../images/header_bg.png), linear-gradient(180deg, var(--colorBG), var(--colorBG)) ;
    background-repeat: no-repeat;
    background-size: inherit , inherit , cover;
    background-position: left, bottom right, center ;
}

.hero-main{
    width: 40%;
    position: absolute;
    top: 297px;
    left: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-tittle-small{
    font-size: 2.813rem;
    font-weight: var(--fw2);
    color: var(--dark2);
    margin-bottom: 5px;
}

.hero-main-tittle-big{
    font-size: 5.313rem;
    font-weight: var(--fw3);
    color: var(--dark1);
    margin-bottom: 20px;
}

.hero-main-description{
    font-family: 1.25rem;
    color: var(--dark3);
    font-weight: var(--fw1);
    margin-bottom: 30px;
}

.hero-container img{
    position: absolute;
    bottom: 0;
    right: 38px;
}

.hero-main-buttons{
    display: flex;
    gap: 30px;
}

.hero-main-buttons button:last-child{
    background-color: transparent;
    border: 2px solid var(--color1);
    outline: var(--color1);
    color: var(--color1);
    transition: all 300ms ease;
}

.hero-main-buttons button:hover:last-child{
    background-color: var(--color1);
    color: var(--color2);
}

i{
    height: 18px;
    width: 18px;
}

/* about section */

.about-container{
    width: 1140px;
    height: 550px;
    background-color: var(--colorBG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 131px 156px 157px;
    margin: 0 auto 100px;
}

.about-container-main{
    width: 827px;
    height: 288px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about-main-tittle{
    font-size: 2.188rem;
    font-weight: var(--fw3);
}

.about-main-description{
    font-size: 1.125rem;
    color: var(--dark3);
    padding: 0 5px;
    text-align: center;
    margin-bottom: 30px;
}

.about-main-info{
    display: flex;
    gap: 50px;
    font-size: 1rem;
}

.about-main-info span{
    font-weight: var(--fw1);
    color: var(--dark3);
}

.about-main-info p{
    font-weight: var(--fw3);
    color: var(--dark1);
}
/* about container ends here */

.what-to-do-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto 100px;
}

.what-to-do-container-tittle{
    font-size: 2.188rem;
    font-weight: var(--fw3);
    color: var(--dark1);
}

.what-to-do-description{
    width: 909px;
    height: 90px;
    font-size: 1.125rem;
    color: var(--dark3);
    text-align: center;
    font-weight: var(--fw1);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 24px;
}

.card{
    width: 267px;
    height: 377px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);;
}

.card img{
    height: 44px;
    width: 44px;
}

.card h3{
    font-size: 1.25rem;
    font-weight: var(--fw2);
    color: var(--dark1);
}

.card p{
    font-size: 1rem;
    font-weight: var(--fw1);
    color: var(--dark3);
}

/* resume part starts here */

.resume-container{
    width: 80%;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equal-coloumn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.resume-container-tittle{
    font-size: 2.188rem;
    font-weight: var(--fw3);
    color: var(--dark1);
    margin-bottom: 113px;
}

.my-education h3{
    font-size: 1.875rem;
    font-weight: var(--fw3);
    color: var(--dark2);
    margin-bottom: 30px;
}

.education-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 558px;
    margin-bottom: 30.5px;
}

.education-container h3{
    font-size: 1.5rem;
    font-weight: var(--fw3);
    color: var(--dark3);
}

.education-container h4{
    font-size: 1.25rem;
    font-weight: var(--fw2);
    color: var(--dark3);

}

.education-container p{
    width: 511px;
    text-align: left;
    color: var(--dark3);
    font-weight: var(--dark1);
    font-size: 1rem;
    padding-right: 28px;
    margin-bottom: 29.5px;
}

.my-experiences h3{
    font-size: 1.875rem;
    font-weight: var(--fw3);
    color: var(--dark2);
    margin-bottom: 30px;
}

.experience-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 558px;
    margin-bottom: 30.5px ;
}

.experience-container h3{
    font-size: 1.5rem;
    font-weight: var(--fw3);
    color: var(--dark3);
}

.experience-container h4{
    font-size: 1.25rem;
    font-weight: var(--fw2);
    color: var(--dark3);

}

.experience-container p{
    width: 511px;
    text-align: left;
    color: var(--dark3);
    font-weight: var(--dark1);
    font-size: 1rem;
    padding-right: 28px;
    margin-bottom: 29.5px;
}

/* footer starts here */

.footer-container{
    min-width: 1600px;
    min-height: 780px;
    padding: 130px 230px 0;
    display: flex;
    gap: 117px;
    background-color: var(--colorBG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-tittle{
    font-size: 2.188rem;
    font-weight: var(--fw4);
    color: var(--dark1);
}

.footer-left{
    font-size: 1rem;
    font-weight: var(--fw2);
    color: var(--dark3);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-left p{
    padding-right: 30px;
}

.icons{
    width: 200px;
    font-size: 1.75rem;
    display: flex;
    gap: 24px;
    color: var(--color1);
    transition: all 250ms ease;
    cursor: pointer;
} 

.icons i:hover{
    transform: translateY(-7px);
}

.footer-right{
    display: flex;
    flex-direction: column;
}
.right-tittle{
    font-size: 2.188rem;
    font-weight: var(--fw4);
    color: var(--dark1);
    margin-bottom: 28px;
}

.footer-right input{
    width: 461px;
    height: 64px;
    padding: 18px 30px;
    font-size: 1rem;
    font-weight: var(--fw2);
    color: var(--dark1);
    margin-bottom: 24px;
    border: none;
    outline: none;
    border-radius: 10px 10px 0 0;
}

.footer-right input:focus{
    border-bottom: 3px solid var(--color1);
}

.footer-right textarea{
    width: 461px;
    height: 180px; 
    font-size: 1rem;
    font-weight: var(--fw2);
    color: var(--dark1);
    padding: 18px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 24px;
}

.footer-right textarea:hover{
    border: 1px solid var(--color1);
}

.footer-right button{
    width: 130px;
}